<app-menu></app-menu>
<div class="angular-component">
  <h3>Edit</h3>
  <table *ngIf="lineitem" class="table table-sm">
    <tr>
      <th>ProductId</th>
      <td>
        <select [(ngModel)]="lineitem.product" [compareWith]="compareFn">
          <option
            *ngFor="let product of products"
            [ngValue]="product"
          >
            {{ product.name }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>
        <input [(ngModel)]="lineitem.quantity" type="number" size="15" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="save()" class="btn btn-primary">Save</button>
      </td>
    </tr>
  </table>
</div>

