<app-menu></app-menu>
<div>
  <div class="h3">
    Request Review | <a routerLink="/requests/Review">Review</a>
  </div>
  <table class="table table-sm">
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Description</th>
      <th>Justification</th>
      <th>DeliveryMode</th>
      <th>Status</th>
      <th>Total</th>
      
    </tr>
    <tr *ngFor="let request of requests">
      <td>{{ request.id }}</td>
      <td>{{ request.user.userName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.deliveryMode }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total }}</td>
     

      <td>
        <a routerLink="/requests/review/{{ request.id }}">Review</a>
      </td>
    </tr>
  </table>
</div>
