<app-menu></app-menu>
<div>
    <div class ="h3">Product List | <a routerLink="/products/create"*ngIf="loggedInUser.admin">Create</a> | 
<input [(ngModel)]="searchCriteria" type ="text" placeholder="Search">
    </div>
    <table [ngClass]= "tableStyle">
        <tr>
    
            <th><a (click) ="sortColumn('id')"class= "btn btn-link">ID</a></th>
            <th><a (click) ="sortColumn('vendorId')"class="btn btn-link">VendorName</a></th>
            <th><a (click) ="sortColumn('partNumber')"class="btn btn-link">PartNumber</a></th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Photopath</th>
            
          </tr>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.vendor.name }}</td>
            <td>{{ product.partNumber }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.unit }}</td>
            <td><img [src]="product.photoPath" height="100"></td>
            
            
            
            <td>
              <a routerLink="/products/edit/{{product.id}}"*ngIf="loggedInUser.admin">Edit</a> | <a routerLink="/products/detail/{{product.id}}">Details</a>
            </td>
          </tr>
        </table>
        </div>

