<app-menu></app-menu>
<div>
    <div class="h3">Details</div>
    <table *ngIf="request" class="table table-sm">
      <tr>
        <th>Id</th>
        <td>
          <input [(ngModel)]="request.id" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>User</th>
        <td>
          <input [(ngModel)]="request.user.userName" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
          <input [(ngModel)]="request.description" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>Justification</th>
        <td>
          <input [(ngModel)]="request.justification" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>DateNeeded</th>
        <td>
          <input [(ngModel)]="request.dateNeeded" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>DeliveryMode</th>
        <td>
          <input [(ngModel)]="request.deliveryMode" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <input [(ngModel)]="request.status" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>Total</th>
        <td>
          <input [(ngModel)]="request.total" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>SubmittedDate</th>
        <td>
          <input [(ngModel)]="request.submittedDate" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <th>ReasonForRejection</th>
        <td>
          <input [(ngModel)]="request.reasonForRejection" disabled type="text" size="20" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button (click)="remove()" class="btn btn-primary">Delete</button>
        </td>
      </table>
      </div>
