<app-menu></app-menu>
<div class="angular-component">
  <h3>Request Edit</h3>
  <table *ngIf="request" class="table table-sm">
    <tr>
      <th>Id</th>
      <td>
        <input [(ngModel)]="request.id" disabled type="text" size="10" />
      </td>
    </tr>
    <tr>
      <th>User</th>
      <td>
        <input [(ngModel)]="request.user" disabled type="text" size="10" />
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
          [(ngModel)]="request.description"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>
    <tr>
      <th>Justification</th>
      <td>
        <input
          [(ngModel)]="request.justification"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>
    <tr>
      <th>DateNeeded</th>
      <td>
        <input
          [(ngModel)]="request.dateNeeded"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>
    <tr>
      <th>DeliveryMode</th>
      <td>
        <input
          [(ngModel)]="request.deliveryMode"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <input [(ngModel)]="request.status" disabled type="text" size="10" />
      </td>
    </tr>
    <tr>
      <th>Total</th>
      <td>
        <input [(ngModel)]="request.total" disabled type="text" size="10" />
      </td>
    </tr>
    <tr>
      <th>SubmittedDate</th>
      <td>
        <input
          [(ngModel)]="request.submittedDate"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>
    <tr>
      <th>ReasonForRejection</th>
      <td>
        <input
          [(ngModel)]="request.reasonForRejection"
          disabled
          type="text"
          size="10"
        />
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <button (click)="save()" class="btn btn-primary">Save</button>
      </td>
    </tr>
  </table>
</div>
